@media screen and (min-width: 768px) {
   .about {
    padding-top: 64px;
    padding-bottom: 128px;
    }
  
    .text-container {
    display: flex;
   }

   .about-title {
    font-size: 40px;
    line-height: 1.10;
    margin-right: 40px;
  }

  .top-text {
    margin-right: 20px;
    width: 220px;
}

  .bottom-text {
    width: 250px;
}

    .gif-container {
    background-position: right;
    /*transform: translate(40%);
    justify-content:right;
    width: 704px;
    height: 465px;*/
  }
}

@media screen and (min-width: 1280px) {

  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .about-title {
    line-height: 1.29;
    margin-right: 110px;
    white-space: nowrap;
  }

  .gif-container {
    display: flex;
    justify-content: center;
    /*width: 892px;
    height: 500px;
    background-image: url(../images/watchspot.gif);
    background-size: 892px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /*flex: none;
    width: 892px;
    height: 500px;*/
  }
}

