:root {
   --color-body: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}

.body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--color-body);
}

.list {
  list-style: none;
}

link {
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------HEDER----------*/
.header {
  padding-top: 29px;
  padding-bottom: 69px;
  background-color: #141414;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder-nav {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  transition-property: transform;
  transition-duration: 300ms;
}

.header-logo:focus
.header-logo:hover {
  transform: scale(1.1);
}

.logo-text {
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: -3%;
  color: #fff;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

.menu-open-btn {

}
.mob-menu-icon {
}
.mob-menu {
}
.is-hidden {
}
.mob-menu-container {
}
.mob-logo {
}
.logo {
}
.menu-close-btn {
}
.mobile-menu-button-icon {
}
.mob-menu-list {
}
.mob-menu-item {
}
.mob-menu-link {
}
.link {
}

/*----------HERO----------*/
/*----------ABOUT----------*/

.about {
  padding: 40px 0 80px 0;
}

.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1E2827;
  margin-bottom: 40px;
}

.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.top-text {
  margin-bottom: 40px;
}

.gif-container {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  /*width: 335px;
  height: 365px;
  justify-content: center;*/
}