:root {
   --color-body: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}

.body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--color-body);
}

.list {
  list-style: none;
}

link {
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}
/*----------HEDER----------*/
/*----------HERO----------*/
/*----------ABOUT----------*/

.about {
  padding-bottom: 80px;
}

.about-container {
}

.text-container {
}

.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1E2827;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-list {
}

.about-item {
  width: 335px;
  height: 108px;
  margin-bottom: 20px;
}

.about-item:last-child {
  margin-bottom: 40px;
}

.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

/*.gif-container {
  justify-content: center;
  width: 335px;
  height: 365px;
}*/